<% @places.each do |place| %>
<div class="booyah-box col-md-10 col-md-offset-1">
  <h1><%= link_to place.name, place_path(place) %></h1>
  <i><%= place.address %></i><br><br>
  <p><%= place.description %></p><br>

  <% if place.user.present? %>
    <small><%= place.user.email %></small>
  <% end %>
</div>

<% end %>

<div class="apple_pagination col-xs-8 col-xs-offset-2 col-md-4 col-md-offset-4">
    <div class="page_info">
      <%= page_entries_info @places %>
    </div>
    <%= will_paginate @places, :container => false %>
  </div>


