<div class="booyah-box col-xs-10 col-xs-offset-1">
  <h1><%= @place.name %></h1>
  <p class="place-address"><%= @place.address %></p>
    <br>

  <% if @place.latitude.present? && @place.longitude.present? %>
    <script>

      function initMap() {
        var myLatLng = {lat: <%= @place.latitude %>, lng: <%= @place.longitude %>};

        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 14,
          center: myLatLng
        });

        var marker = new google.maps.Marker({
          position: myLatLng,
          map: map,
          title: 'Hello World!'
        });
      }
    </script>

    <script async defer
    src="https://maps.googleapis.com/maps/api/js?signed_in=true&callback=initMap">
    </script>
    <div id="map"></div>
    <% end %>

    <br>
  <div class="col-xs-12 col-sm-7">
    <p class="place-description">"<%= @place.description %>"</p>
  </div>
  <div class="pull-right">
    <!--PHOTOS Button trigger modal -->
    <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#photoModal">
      Add a Photo
    </button>
    <% if current_user && current_user == @place.user %>
      <%= link_to 'Edit Place', edit_place_path(@place), class: 'btn btn-default btn-sm' %>
      <%= link_to 'Delete Place', place_path(@place), method: :delete, data: {confirm: "Are you sure you want to delete the following place: '#{@place.name}'?"},class: 'btn btn-danger btn-sm' %>
    <% end %>
  </div>
    <br>
    <br>

  <div class="col-xs-12">
      <hr>
    <h1 class="pull-left">Photos</h1>

    <div class="clear"></div>
      <br>

    <% if !@place.photos.present? %>
      <i class="absent-item-note">There are currently no photos uploaded for this place.</i>
    <% else %>
      <% @place.photos.each do |photo| %>
        <div class="col-xs-12 col-sm-6 img-responsive">

            <%= image_tag photo.picture, class: 'img-responsive img-rounded' %>

            <p class="text-center photo-caption"><%= photo.caption %></p>
        </div>
      <% end %>
    <% end %>

      <div class="clear"></div>
      <br>
      <hr>

    <h1 class="pull-left">Comments</h1>

    <div class="clear"></div>

    <br>

    <% if !@place.comments.present? %>
      <i class="absent-item-note">There are currently no comments for this place. Be the first to share your experience at <%= @place.name %>!</i>
    <% else %>
      <% @place.comments.each do |comment| %>
        <div class="col-xs-12 col-sm-6">
          <blockquote>
            <% if comment.humanized_rating.present? %>
              <b><%= comment.humanized_rating %></b> -
            <% end %>
            <%= comment.message %>
              <small><%= comment.user.email %></small>
              <br>
              <i class="comment-timestamp"><%= comment.created_at.strftime("%B %d, %Y") %></i>
          </blockquote>
        </div>
      <% end %>
    <% end %>

      <div class="clear"></div>
          <br>

    <!-- COMMENTS Button trigger modal -->
    <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#commentModal">
      Add a Comment
    </button>
  </div><!-- closing tag for col-xs-12  -->

    <!-- COMMENTS Modal -->
    <div class="modal fade" id="commentModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Add Your Comment</h4>
          </div>
          <%= simple_form_for @comment, url: place_comments_path(@place) do |f| %>
            <div class="modal-body">

              <%= f.input :message %>
                <br>
              <%= f.input :rating, as: :select, collection: Comment::RATINGS %>

            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <%= f.submit "Post a Comment", class: 'btn btn-primary btn-sm' %>
            </div>
          <% end%>
        </div>
      </div>
    </div>

    <!-- PHOTO Modal -->
    <div class="modal fade" id="photoModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Add Your Picture</h4>
          </div>
          <%= simple_form_for @photo, url: place_photos_path(@place) do |f| %>
            <div class="modal-body">

              <%= f.input :picture %>
                <br>
              <%= f.input :caption %>

            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <%= f.submit "Submit a Photo", class: 'btn btn-primary btn-sm' %>
            </div>
          <% end%>
        </div>
      </div>
    </div>
</div>
